* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1F2833;
}

.header {
    display: flex;
    background-color: #0B0C10;
    color: #66FCF1;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.header-left,
.header-right {
    width: 50%;
    min-height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 25%;
}

.header-center {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 15px;
    color: #d9dde0;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    gap: 10px;
}

.header-add-button {
    border-radius: 100%;
    border: 2px solid #555d64;
    height: 50px;
    width: 50px;
    font-size: 28px;
    color: #C5C6C7;
    background-color: #1F2833;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0d65ad;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.main {
    display: flex;
    min-height: 840px;
    overflow: auto;

}
.main-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #706b6b;
    background-color: #0B0C10;
}
.main-center {
    width: 80%;
}

.projects-button,
.important-button {
    border: none;
    border-top: 1px ridge rgb(165, 165, 165);
    border-bottom: 1px ridge rgb(165, 165, 165);
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #003152;
    color: #FFFFFF;
    padding: 5px;
}

.projects-button:hover, 
.important-button:hover {
    border-top: 2px ridge rgb(165, 165, 165);
    border-bottom: 2px ridge rgb(165, 165, 165);
}

.projects-container,
.important-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.projects-folder,
.important-folder {
    background-color: #3b3a31;
    color: #FFFFFF;
}


.projects-text,
.important-text {
    width: 200px;
    margin-left: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-hidden {
    display: none;
}

#projects-span, 
#important-span {
    color: #b8b8b8d2;
    font-size: 15px;
}
