* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #2B2D44;
    height: 100vh;
}

#content {
    height: 100%;
}

.header {
    display: flex;
    background-color: hsl(240, 41%, 7%);
    color: #CECFED;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
    height: 8%;
}

.header-left,
.header-right {
    width: 50%;
    min-height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 25%;
}

.header-center {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 15px;
    color: #A2A3BF;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0d65ad;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.main {
    display: flex;
    height: 86%;
    min-height: 840px;
    overflow: auto;

}
.main-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #706b6b;
    background-color: hsl(240, 41%, 7%);
    margin-top: 1px;
}
.main-center {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.projects-button,
.important-button {
    border: none;
    margin-top: -2px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #f1f1ff;
    padding: 5px;
    background-color: hsl(240, 41%, 7%);
    padding-left: 25px;
}

.projects-button:hover, 
.important-button:hover {
    color: #ffd4da;
    cursor: pointer;
}

.projects-container,
.important-container {
    border-bottom: 1px solid #e4e5ff;
    overflow: auto;
    background-color: hsl(240, 41%, 7%);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 0 0 15px;
}

.important-folder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.important-item {
    color: #f1f1ff;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 80%;
}

.important-item:hover {
    color: #ffd4da;
    cursor: pointer;
}

.projects-text,
.important-text {
    width: 200px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.projects-item {
    color: #f1f1ff;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 80%;
}

.projects-item:hover {
    color: #ffd4da;
    cursor: pointer;
}

#new-project-button-container {
    align-self: start;
}

.projects-content.sidebar-hidden,
.important-folder.sidebar-hidden {
    display: none;
}

#projects-span, 
#important-span {
    color: #f1f1ff;
    font-size: 15px;
}

.center-content {
    width: 50%;
}

.todo-top-container {
    color: #e5e6e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-right: 35px;
}

.todo-top-container > p {
    font-size: 22px;
}

.todo-add-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 0;
    opacity: 0.4;
}

.todo-add-container:hover, 
.new-project-button:hover {
    opacity: 1;
    cursor: pointer;
}

.todo-add-container > p {
    color: white;
    font-size: 24px;
}

.add-image, .task-button {
    width: 22px;
    height: 22px;
    filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(223deg) brightness(105%) contrast(103%);
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e5e6e7;
    font-size: 22px;
    border-top: 1px solid #c5c6c72f;
    border-bottom: 1px solid #c5c6c72f;
    padding: 4px 8px;
    margin-top: -1px;
}

.todo-item-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.delete-todo-button {
    filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(223deg) brightness(105%) contrast(103%);
    opacity: 0.6;
    width: 30px;
    height: 30px;
}

.delete-todo-button:hover {
    opacity: 0.9;
}

.todo-title {
    max-width: 400px;
    overflow: auto;
    white-space: nowrap;
}

.todo-due-date {
    font-size: 16px;
}

.todo-item:hover {
    color: white;
    cursor: pointer;
    border-top-color: #c5c6c7b0;
    border-bottom-color: #c5c6c7b0;
}

.new-todo-form,
.todo-detailed, 
.new-project-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #294552;
    padding: 4px;
    border-radius: 6px;
    margin-top: 12px;
}

.new-project-form {
    border: 1px solid #C5C6C7;
}

.new-todo-form {
    border-color: #00070a;
    background-color: #2B2D44;
}

.textarea {
    background-color: #2B2D44;
    border: none;
    resize: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.new-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.new-project-button {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    font-size: 16px;
    opacity: 0.6;
    margin: 10px 0 5px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.new-project-form .textarea {
    background-color: hsl(240, 41%, 7%);
    font-size: 16px;
    padding: 3px;
    
}

.textarea::placeholder {
    opacity: 1;
}

.task-button {
    opacity: 0.6;
    margin-top: 5px;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.task-button:hover {
    opacity: 1;
    cursor: pointer;
}

.red-text::placeholder {
    color: #ec4141;
}

.due-date-picker {
    width: 150px;
    background-color: #131920;
    color: white;
    margin-top: 5px;
}

.due-date-picker::-webkit-calendar-picker-indicator {
    filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(223deg) brightness(105%) contrast(103%);
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.prio-text {
    color: #C5C6C7;
    font-size: 18px;
    text-align: center;
}



