:root {
    --darkBlue: hsl(240, 41%, 7%);
    --lightGreyBlue: #CECFED;
    --dimOrange: #ff6a50;
    --dimRed: #ff5233;
    --lightPink: #ffd4da;
    --dimWhite: #e5e6e7;
    --mildBlueWhite: #f1f1ff;
    --brightRed: #ec4141;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bgColor);
    height: 100vh;
}

#content {
    height: 100%;
}

.dark-theme {
    --headerBg: var(--darkBlue);
    --headerText: var(--lightGreyBlue);
    --headerBorder: #FFFFFF;
    --sidebarBg: var(--darkBlue);
    --importantButtonHover: #ff8670;
    --importantText: var(--dimOrange);
    --importantTextHover: var(--dimRed);
    --folderHover: var(--lightPink);
    --todoText: var(--dimWhite);
    --todoTextHover: none;
    --todoBorder: #c5c6c72f;
    --bgColor: #2b2d44;
    --footerText: #f1f1ffd2;
    --projectText: var(--mildBlueWhite);
    --projectHoverText: #ffd4da;
    --projectBg: var(--darkBlue);
    --filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(223deg) brightness(105%) contrast(103%);
}

.light-theme {
    --headerBg: hsl(0, 50%, 60%);
    --headerText: white;
    --headerBorder: black;
    --sidebarBg: hsl(240, 12%, 76%);
    --importantButtonHover: #8a0000;
    --importantText: #0e0c0c;
    --importantTextHover: black;
    --folderHover: black;
    --todoText: black;
    --todoBorder: #535353cb;
    --bgColor: hsl(240, 9%, 86%);
    --footerText: white;
    --projectText: hsl(240, 66%, 9%);
    --projectHoverText: hsl(0, 0%, 0%);
    --projectBg: hsl(240, 12%, 76%);
    --filter: none;
}

.header {
    display: flex;
    background-color: var(--headerBg);
    color: var(--headerText);
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid var(--headerBorder);
    height: 8%;
}

.header-left,
.header-right {
    width: 50%;
    min-height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 25%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    font-size: 22px;
    margin-bottom: -1px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0d65ad;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.main {
    display: flex;
    height: 86%;
    min-height: 840px;
    overflow: auto;

}
.main-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #706b6b;
    background-color: var(--sidebarBg);
    margin-top: 1px;
}
.main-center {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.projects-button,
.important-button {
    border: none;
    margin-top: -2px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: var(--projectText);
    padding: 5px;
    background-color: var(--projectBg);
    padding-left: 25px;
}

.projects-button:hover, 
.important-button:hover {
    color: var(--importantButtonHover);
    cursor: pointer;
}

.projects-container,
.important-container {
    border-bottom: 1px solid #e4e5ff;
    overflow: auto;
    background-color: var(--projectBg);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 0 0 15px;
}

.important-folder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.important-item {
    color: var(--importantText);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 80%;
}

.important-item:hover {
    color: var(--importantTextHover);
    cursor: pointer;
}

.projects-text,
.important-text {
    width: 200px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}

.projects-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-item {
    color: var(--projectText);
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    width: 80%;
}

.projects-item-delete {
    filter: var(--filter); 
    opacity: 0.6;
}

.projects-item-delete:hover {
    opacity: 1;
    cursor: pointer;
}

.projects-item:hover {
    color: var(--projectHoverText);
    cursor: pointer;
}

#new-project-button-container {
    align-self: start;
}

.projects-content.sidebar-hidden,
.important-folder.sidebar-hidden {
    display: none;
}

#projects-span, 
#important-span {
    color: var(--projectText);
    font-size: 15px;
}

.center-content {
    width: 50%;
}

.todo-top-container {
    color: var(--todoText);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-right: 45px;
}

.todo-top-container > p {
    font-size: 22px;
}

.todo-add-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 8px;
    opacity: 0.5;
}

.todo-add-container:hover, 
.new-project-button:hover {
    opacity: 1;
    cursor: pointer;
}

.todo-add-container > p {
    color: var(--todoText);
    font-size: 22px;
}

.add-image, .task-button {
    width: 22px;
    height: 22px;
    filter: var(--filter);
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--todoText);
    font-size: 22px;
    border-top: 1px solid var(--todoBorder);
    border-bottom: 1px solid var(--todoBorder);
    padding: 4px 8px;
    margin-top: -1px;
}

.todo-item-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.delete-todo-button {
    filter: var(--filter);
    opacity: 0.6;
    width: 30px;
    height: 30px;
}

.delete-todo-button:hover {
    opacity: 0.9;
}

.todo-title {
    max-width: 400px;
    overflow: auto;
    white-space: nowrap;
}

.todo-due-date {
    font-size: 16px;
}

.todo-item:hover {
    color: var(--todoText);
    cursor: pointer;
    border-top-color: #c5c6c7b0;
    border-bottom-color: #c5c6c7b0;
}

.new-todo-form,
.todo-detailed, 
.new-project-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #294552;
    padding: 4px;
    border-radius: 6px;
    margin-top: 12px;
}

.new-project-form {
    border: 1px solid #C5C6C7;
}

.new-todo-form {
    border-color: #00070a;
    background-color: var(--bgColor);
}

.textarea {
    background-color: var(--bgColor);
    border: none;
    resize: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.new-project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.new-project-button {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--projectText);
    font-size: 16px;
    opacity: 0.6;
    margin: 10px 0 5px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.new-project-form .textarea {
    background-color: hsl(240, 41%, 7%);
    font-size: 16px;
    padding: 3px;
    
}

.textarea::placeholder {
    opacity: 1;
}

.task-button {
    opacity: 0.6;
    margin-top: 5px;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.task-button:hover {
    opacity: 1;
    cursor: pointer;
}

.red-text::placeholder {
    color: var(--brightRed);
}

.project-selector {
    color: var(--todoText);
    background-color: var(--bgColor);
    padding: 2px;
    margin-bottom: -2px;
}

.slider-container {
    margin-bottom: 8px;
}

.due-date-picker {
    width: 150px;
    background-color: var(--bgColor);
    color: var(--todoText);
    margin-top: 5px;
}

.due-date-picker::-webkit-calendar-picker-indicator {
    filter: var(--filter);
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.prio-text {
    color: var(--todoText);
    font-size: 18px;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    color: var(--footerText);
    background-color: hsla(240, 17%, 16%, 0.719);
    border-top: 1px solid #706b6b;
    height: 70px;
}

#footer-left {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 7px;
}

#footer-right {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-left: 7px;
}

.github-image {
    filter: var(--filter);
    opacity: 0.6;
}

.github-image:hover {
    opacity: 1;
}


